body {
    background: #000;
}

.container {
    background: #fff;
    box-sizing: border-box;
    padding: 15px;
}

h1, h2, h3, h4 {
    margin: 2vh auto;
}

h1 {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: -0.05em;
}

.box {
    margin-bottom: 2rem;
}

.row {
    margin: 0;
}